.logo-tra-sua3{
    
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
   
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-tra-sua-footer{
  background-color: black;
    height: 80px;
    width: 80px;
    border-radius: 50px;
   
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-light {
    background-color: #4fc156!important;
}

a {
    color: black; /* Thay đổi màu của đường liên kết */
    text-decoration: none; /* Loại bỏ gạch chân */
  }
  a i {
    
    margin-right: 20px; /* Thêm khoảng cách giữa các icon */
  }
  .fa-search:before {
   
    font-size: x-large;
}
.fa-heart:before {
   
    font-size: x-large;
}
.fa-shopping-basket:before {
   
    font-size: x-large;
}
.fa-user:before {
   
    font-size: x-large;
}
.carousel-item img {
    width: 50%;
    height: auto; /* tự động tính toán chiều cao dựa trên tỷ 
    lệ giữa chiều rộng và chiều cao của ảnh */
    display: block;
    margin: auto; /* căn giữa ảnh */
  }
  .imgCard{
    height: 200px;
    width: 340px;
  }

  .card {
    margin-bottom: 30px;
  }

  /********** SECTION HERO ***********/

.hero {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/page-top-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  text-align: center;
}

.hero__title {
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  margin: 0 auto;

  background-color: #ff2a6b;
  color: #fff;

  font-size: 48px;
  font-weight: bold;

  box-shadow: 0px 90px 100px rgba(0, 0, 0, 0.4);
  animation: zoomIn 0.75s linear both;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .hero__title {
      font-size: 72px;
  }
}

@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0, 0);
  }

  to {
      opacity: 1;
      transform: scale(1, 1);
  }
}

/************** SECTION ABOUT ***************/
.about {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about__content {
  padding-right: 20px;
}

.about__title {
  margin-bottom: 65px;
  color: #474747;
  font-size: 36px;
  font-weight: 600;
}

.about__description {
  color: #838383;
  line-height: 2.1;
  font-size: 14.1px;
}

.about__link {
  padding-top: 70px;
  padding-bottom: 50px;
}

.about__link > a {
  padding: 18px 40px;
  background-color: #ff2a6b;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.about__thumbnail {
  width: 100%;
  vertical-align: middle;
}

/******************* SECTION FACTS *****************/
.facts {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #eff3f7;
}

ul.facts__list-items {
  display: flex;
  flex-flow: row wrap;
}

ul.facts__list-items > li {
  width: 100%;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  ul.facts__list-items > li {
      width: 50%;
      padding-bottom: 30px;
  }
}

/* Laptop*/
@media (min-width: 992px) {
  ul.facts__list-items > li {
      width: 25%;
  }
}

.fact-item {
  padding-bottom: 30px;
  text-align: center;
}

.fact-item__image {
  margin-bottom: 20px;
}

.fact-item__big-number {
  margin-bottom: 10px;
  color: #474747;
  font-size: 48px;
  font-weight: 600;
}

.fact-item__name {
  color: #474747;
  font-size: 14px;
  font-weight: 500;
}

/* Blog section */
.ws-light-green{
  background-color: #D9EEE1;
  color: black;
}

.w3-padding{
  padding: 8px 16px;
  color: black;
}

.w3-section{
  margin-top: 16px;
  margin-bottom: 16px;
}

/* blog 2 */
.blog-header{
  background-color: #f18fe7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.bg-lights{
  background-color: black;
  color: #D9EEE1;
}
